@charset "utf-8";

.main-visual {
  position: relative;
  width: 100%;
  height: 80rem;
  overflow: hidden;
  animation: visual 0.7s ease-out forwards;
}

.main-visual figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.visual-con {
  position: absolute;

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #5f5; */
  z-index: 1;
}

.visual-con h2 {
  font-weight: 700;
  color: var(--Light-100);

  font-size: clamp(2.5rem, 2.6041vw, 5rem);
}

.visual-con p {
  color: var(--Light-100);
  font-weight: 400;

  font-size: clamp(1.3rem, 1.0416vw, 2rem);
}

.visual-btn {
  display: block;
  font-size: clamp(1.4rem, 1.6901vw, 2.4rem);
  margin-top: 3rem;

  padding: 2rem 3rem;
  border: 2px solid var(--Light-100);
  color: var(--Light-100);
  font-weight: 700;
  border-radius: 30rem;

  transition: 0.4s;
}

.visual-btn:hover {
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--Light-100);
}

/* all 메뉴 */

/* menu-all-list */
.menu-all-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2.6316%;
  gap: 3rem;
}

.menu-all-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;

  background: var(--main-color2);

  transition: 0.4s;
}

.menu-all-list figure {
  width: 100%;
}

.menu-all-list img {
  width: 100%;
  height: 100%;
}

.menu-all-list dl {
  margin: 1.5rem 0;
}

.menu-all-list dt {
  font-weight: 400;
  font-size: 1.5rem;
  font-size: clamp(1rem, 0.78125vw, 1.5rem);
  color: var(--Darck-60);
}

.menu-all-list dd {
  font-weight: 700;
  font-size: 2rem;

  font-size: clamp(1rem, 1.0416vw, 2rem);
  color: var(--Darck-100);
}

.menu-all-list li:hover {
  background: var(--main-color);
}

.menu-all-list li:hover dt,
.menu-all-list li:hover dd,
.menu-all-list li:hover strong {
  color: var(--Light-100);
}

.menu-all-list div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-all-list strong {
  font-weight: 600;

  font-size: clamp(1.4rem, 1.0416vw, 2rem);
}

/* s.commpany */
.company-all {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.company .brand-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 58.6rem;
  width: 41.2676%;
}

.company figure {
  width: 59.7rem;
  height: 65.9rem;
  aspect-ratio: 1/1.1039;
}

.company figure img {
  width: 100%;
  height: 100%;
}

.company-text strong {
  font-weight: 800;
  font-size: 4rem;
  font-size: clamp(2rem, 2.817vw, 4rem);

  color: #000;
}

.company-text p {
  font-weight: 300;
  font-size: 2.4rem;
  font-size: clamp(1.4rem, 1.6901vw, 2.4rem);

  color: var(--Darck-60);
  margin-top: 0.7rem;
}

.more-btn {
  width: 24rem;
  height: 7.2rem;
  background: var(--btn);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 3.6rem;

  font-weight: 700;
  font-size: clamp(1.4rem, 1.0416vw, 2rem);
  color: #fff;

  transition: 0.4s;
}

.more-btn:hover {
  background: var(--main-color);
  color: #fff;
}

.company-all .brand-story:nth-child(odd) {
  flex-direction: row-reverse;
}
/* e.commpany */

.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 2.6316%;
}

.event-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  height: 35rem;
  width: 23.0263%;
}

.event-list li figure {
  position: relative;
  width: 100%;
  height: 35rem;
}

.event-list img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
  position: relative;
}

.event-list li figure {
  border: 0px;
  border-radius: 0;
}
.event-con {
  position: absolute;
  width: 80%;
  top: 75%;

  left: 50%; /* 부모의 중앙 위치 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
  opacity: 0;
  transition: 0.5s;
}

.event-con {
  font-weight: 700;
  color: var(--Light-100);
}

.event-con dt {
  font-size: clamp(1.5rem, 1.25vw, 2.4rem);
  font-weight: 800;
  color: var(--Darck-100);
}

.event-con dd {
  padding-top: 1rem;
  font-size: clamp(1.3rem, 1.042vw, 1.5rem);
  font-weight: 600;
  color: var(--Darck-60);
}

.event-list > li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.event-list > li:hover figure::after {
  opacity: 0.9;
}

.event-list li:hover .event-con {
  opacity: 1;
  top: 50%;
}

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

@media screen and (max-width: 1440px) {
  /* all */

  .menu-all-list li {
    width: 29.4rem;
    width: 100%;

    padding: 2.2rem 3.4rem;
  }

  /* company */
  .content {
    width: 44.2rem;
    width: 47.8355%;
  }

  .brand-story .more-btn {
    width: 18.4rem;
    width: 41.8182%;
    height: 6.3rem;
  }

  .brand-story .more-btn::after {
    width: 2.6rem;
    height: 2.6rem;
  }

  .company figure {
    width: 38.8rem;
    width: 41.9913%;
  }
  /* company */
}

@media screen and (max-width: 1024px) {
  /* all */

  .menu-all-list {
    gap: 2rem;
  }

  .menu-all-list li {
    width: 18.5rem;
    width: 100%;

    padding: 1.5rem 2.2rem;
  }

  .menu-all-list dl {
    padding-top: 0.2rem;
  }

  /* all */

  .event-list {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /* all */

  .menu-all-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* event */

  .event-list li {
    flex: 1 1 40%;
  }

  /* company */
  .company .brand-story {
    display: flex;

    flex-direction: column !important;
    align-items: center;
    position: relative;
  }

  .brand-story .more-btn {
    width: 17.5rem;
    height: 5.1rem;
    position: absolute;
    bottom: 3rem;
    margin: 0 11rem 0;
    gap: 1.5rem;
    z-index: 1;
  }

  .company-text {
    padding: 0.5rem 0 0.5rem;
  }

  .content {
    width: 39rem;
    text-align: center;
    margin-top: 0;
  }

  .company figure {
    width: 39rem;
    height: 22.8rem;
    margin-top: 1rem;
  }

  .company figure img {
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
  }
}

@media screen and (max-width: 425px) {
  /* all */

  .menu-all-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .event-list li {
    flex: 1 1 100%;
  }
}
