@charset "utf-8";

.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 0;

  margin-top: 2.6316%;
}

.event-list li {
  display: flex;
  align-items: center;
  text-align-last: left;
  flex-direction: column;
  gap: 2rem;
}

.event-list li figure {
  position: relative;
  width: 36rem;
  height: 36rem;
}

.event-list li img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
}

.event-text {
  padding-top: 2%;
}

.event-text dt {
  font-size: clamp(2rem, 1.6901vw, 2.4rem);
  font-weight: 700;
}

.event-text dd {
  color: var(--Darck-60);
  font-size: clamp(1.4rem, 1.042vw, 2rem);
  font-weight: 400;
}

.event-list > li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-color);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.event-list > li:hover figure::after {
  opacity: 0.5;
}

/* e.event */

/* s.commpany */
.company-all {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.company .brand-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 58.6rem;
  width: 41.2676%;
}

.company figure {
  width: 59.7rem;
  height: 65.9rem;
  aspect-ratio: 1/1.1039;
}

.company figure img {
  width: 100%;
  height: 100%;
}

.company-text strong {
  font-weight: 800;
  font-size: 4rem;
  font-size: clamp(2rem, 2.817vw, 4rem);

  color: #000;
}

.company-text p {
  font-weight: 300;
  font-size: 2.4rem;
  font-size: clamp(1.4rem, 1.6901vw, 2.4rem);

  color: var(--Darck-60);
  margin-top: 0.7rem;
}

.more-btn {
  width: 24rem;
  height: 7.2rem;
  background: var(--btn);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 3.6rem;

  font-weight: 700;
  font-size: clamp(1.4rem, 1.0416vw, 2rem);
  color: #fff;

  transition: 0.4s;
}

.more-btn:hover {
  background: var(--main-color);
  color: #fff;
}

.company-all .brand-story:nth-child(odd) {
  flex-direction: row-reverse;
}
/* e.commpany */

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@media (max-width: 1900px) {
  .event-list li figure {
    width: 30rem;
    height: 30rem;
  }
}

@media (max-width: 1610px) {
  .event-list > li {
    flex: 1 1 25%;
  }

  .event-list li figure {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1440px) {
  /* company */
  .content {
    width: 44.2rem;
    width: 47.8355%;
  }

  .brand-story .more-btn {
    width: 18.4rem;
    width: 41.8182%;
    height: 6.3rem;
  }

  .brand-story .more-btn::after {
    width: 2.6rem;
    height: 2.6rem;
  }

  .company figure {
    width: 38.8rem;
    width: 41.9913%;
  }
  /* company */

  .event-list > li {
    flex: 1 1 30%;
  }
}

@media (max-width: 1024px) {
  .event-list li figure {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 768px) {
  .event-list > li {
    flex: 1 1 50%;
    margin-bottom: 2rem;
  }

  /* company */
  .company .brand-story {
    display: flex;

    flex-direction: column !important;
    align-items: center;
    position: relative;
  }

  .brand-story .more-btn {
    width: 17.5rem;
    height: 5.1rem;
    position: absolute;
    bottom: 3rem;
    margin: 0 11rem 0;
    gap: 1.5rem;
    z-index: 1;
  }

  .company-text {
    padding: 0.5rem 0 0.5rem;
  }

  .content {
    width: 39rem;
    text-align: center;
    margin-top: 0;
  }

  .company figure {
    width: 39rem;
    height: 22.8rem;
    margin-top: 1rem;
  }

  .company figure img {
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
  }
}

@media (max-width: 540px) {
  .event-list li figure {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 420px) {
  .event-list li {
    flex: 1 1 100%;
  }

  .event-list li figure {
    width: 25rem;
    height: 25rem;
  }
}
